# IDE folders
/.idea
/.vscode

# python virtual enviroment
/venv

# project development
/dev
/examples

# some extra currently in development stuff
/sensors/fans
/sensors/temperature
/sensors/voltage
/tests/usage_sensors_tests.py

# Linux support tests
/tests/arch_linux_os.py_tests.py
/tests/linux_test_summary.md
/examples/linux_os.py_cmd_example.sh

# debug
*.exe
__pycache__/